services:
    reverse-proxy:
        image: traefik:v3.1 
        command:
            #enables webui for traefik
            - "--api.insecure=true"
            - "--providers.docker"
            - "--entrypoints.web.address=:80"
        ports:
            - "80:80"
            - "8080:8080"
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
        networks:
            - web
    mongo:
        image: mongo
        restart: always
        container_name: mongo
        volumes:
            - mongo-data:/data/db
        networks:
            - web
    backend:
        build: ./backend
        image: jackcharlesworth1/aspen-backend:latest
        container_name: backend
        volumes:
            - ./backend/static/:/app/static/
        depends_on:
            - mongo
        env_file:
            - ./backend/.env
        networks:
            - web
        dns:
            - 8.8.8.8
            - 1.1.1.1
    database_seeding:
        build: ./backend/
        image: jackcharlesworth1/aspen-backend:latest
        command: node maintenance/addAdmin.js
        container_name: database_seeding
        depends_on:
            - backend
        env_file:
            - ./backend/.env
        networks:
           - web
    frontend:
        build: ./frontend
        image: jackcharlesworth1/aspen-frontend:latest
        labels:
            - "traefik.enable=true"
            - 'traefik.http.routers.frontend.rule=Host("theaspenproject.cloud")'
            - "traefik.http.routers.frontend.entrypoints=web"
            - "traefik.http.services.frontend.loadbalancer.server.port=5173"
        container_name: frontend
        ports:
            - "5173:5173"
        depends_on:
            - backend
        networks:
            - web
volumes:
    mongo-data:
networks:
    web:
        external: false
