.PageContainer{
    background-color: white;
    height: 85vh;
    overflow: hidden;
}
.LandingDiv{
    display: flex;
    flex-direction: column;
    margin-left: 60vw;
    width: 24vw;
    min-width: 250px;
    margin-top: 30vh;
    height: 20vh;
    background-color: white;
    padding-bottom: 50px;
    padding: 30px;
    border: 2px solid black;

}
.LandingInfo{
    margin: auto;
}

.CallToActionButton{
    border: 2px solid black;
    padding: 4px;
    background-color: white;
}
@media(max-width: 800px){
    .LandingDiv{
        width: 60vw;
        margin-left: 8vw;
    }
}
