.OverrideButtonDiv{
    display: flex;
    flex-direction: row;
}

.OverrideButton{
    border: 2px solid black;
    padding: 4px;
    background-color: white;
}
.OverrideInput{
    margin: 20px;
    max-width: 500px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left:0px;
    outline: none;
    border: 2px solid black;
}
.OverrideInput:focus{
    animation: selectedInput 0.5s ease;
    border: 2px solid #0F0;
}

.PossibleLocationsConatiner{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@keyframes selectedInput{
    0% {
        border: 2px solid black;
        border-left: 4px solid #0F0;
    }
    30%{
        border: 2px solid #0F0;
        border-left: 3px solid #0F0;
        border-right: 3px solid black;
    }
    50%{
        border: 2px solid #0F0;
        border-right: 4px solid #0F0;
    }
    100%{
        border: 2px solid #0F0;
    }
}

