.UserStatsContainer{
    margin-top: 20px;
}

.SeenRankingContainer{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
}

.SeenRanking{
    margin-right: auto;
}

.GalleryContainer{
    margin-top: 40px;
}
