.RegisterTitle{
    margin: 20px;
}
.RegisterBox{
    min-width: 300px;
    margin-left: 10vw;
    margin-top: 10vh;
    width: 30vw;
    height: 80vh;
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}

@media(max-width: 800px){
    .RegisterBox{
        width: 80vw;
        margin-left: 10vw;
    }
}
