.FileUploadButton{
    margin: 20px;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    margin-left: 40px;
    margin-right: auto;
    margin-top: 240px;
    margin-bottom: 10px;
}
.FileUploadButtonUploaded{
    margin: 20px;
    border: 2px solid #0F0;
    padding: 10px;
    text-align: center;
    margin-left: 40px;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.FileDropDiv{
    width: 80vw;
    height: 50vh;
    border: 2px solid black;
    margin-top: 20px;
    text-align: center;
    margin-left: 40px;
    margin-right: auto;
}
.FileDropDivUploaded{
    width: 80vw;
    height: 50vh;
    border: 2px solid #0F0;
    margin-top: 20px;
    text-align: center;
    margin-left: 40px;
    margin-right: auto;

}

.UploadedImage{
    width: 25%;
    height: auto;
    margin: auto;
    margin-left:40px;

}

.IdentificationDiv{
    margin-left:40px;
}

.DefaultButton{
    margin: 5px;
    padding: 4px;
    background-color: white;
    border: 2px solid black;
    margin-left: 40px;
}
