.UserStatsContainer{
    margin-top: 20px;
}

.SeenRankingContainer{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
}

.SeenRanking{
    margin-right: auto;
    width: 40%;
}

.GalleryContainer{
    margin-top: 40px;
}

@media (aspect-ratio<1){
    .SeenRanking{
        width: 80%
    }
}
